@import './styles/variables.scss';


.about {
  height: 100%;
  width: 100%;
  background-color: $color3;
  padding: 20px;

  // .show {
  //   position: absolute;
  //   left: -30px;
  //   width: 30px;
  //   height: 20px;
  //   transition: ease;
  // }

  .main-gallery {
    display: flex;
    justify-content: space-between;
    background-color: $color4;
    border-radius: 10px;
    
    .gallery {
      width: 600px;
      height: 620px;
      margin: 10px auto;
    }
  }
}