@import './styles/variables.scss';


.banner {
  height: 95vh;
  width: 100%;
  background-image: url('https://picsum.photos/id/1002/4312/2868');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.main-banner{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p{
    color: $color5;
    font-size: 30px;
    width: 50%;
    text-align: center;
  }
}
