@import './styles/variables.scss';

.header {
  background-color: $color4;
  display: flex;
  justify-content: space-between;

  .nav-left, .nav-right {
    
    ul {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 18px;

      li {
        list-style: none;
        text-transform: uppercase;
        display: inline-block;
        padding-right: 10px;

        a {
          text-decoration: none;
          color: $color5;
          
          &:hover {
            color: $color1;
          }
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}


