@import './styles/variables.scss';


.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color4;
  position: relative;
  padding: 0 40px;

  .nav-left, .nav-right {
    ul {
      li {
        list-style: none;
        text-transform: uppercase;
        display: inline-block;
        padding-right: 10px;
  
        a {
          text-decoration: none;
          color: $color5;
          &:hover {
            color: $color1;
          }
        }
      }
    }
  }

}


